@page  "/test/{id:int}"

<h3>TestComponent</h3>
<div @onload=onLoad>@loadTime.ToString()</div>
@id

@code {
    [Parameter]
    public int id { get; set; }

    public DateTime loadTime { get; set; }

    void onLoad()
    {
        loadTime = DateTime.UtcNow;
    }
}
